<script>
	import { WEBUI_BASE_URL } from '$lib/constants';
</script>

<div class="blur-background">
	<img src="bg_1.webp" alt="">
</div>

<style>
	.blur-background {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	background-color: rgba(255, 255, 255, 0.7);
	filter:blur(4px); 
	z-index:-1;
}

</style>

