<script>
	import { goto } from '$app/navigation';
	import { userSignIn, userSignUp } from '$lib/apis/auths';
	import { WEBUI_API_BASE_URL, WEBUI_BASE_URL } from '$lib/constants';
	import { WEBUI_NAME, config, user } from '$lib/stores';
	import { onMount } from 'svelte';
	import { toast } from 'svelte-sonner';
	import Typwriter from 'svelte-typewriter';

	let loaded = false;
	let mode = 'signin';
	let cursor = false;
	let name = '';
	let service_no = '';
	let password = '';

	const setSessionUser = async (sessionUser) => {
		if (sessionUser) {
			console.log(sessionUser);
			toast.success(`You're now logged in.`);
			localStorage.token = sessionUser.token;
			await user.set(sessionUser);
			goto('/');
		}
	};

	const signInHandler = async () => {
		const sessionUser = await userSignIn(service_no, password).catch((error) => {
			toast.error(error);
			return null;
		});

		await setSessionUser(sessionUser);
	};

	const signUpHandler = async () => {
		const sessionUser = await userSignUp(name, service_no, password).catch((error) => {
			toast.error(error);
			return null;
		});

		await setSessionUser(sessionUser);
	};

	const submitHandler = async () => {
		if (mode === 'signin') {
			await signInHandler();
		} else {
			await signUpHandler();
		}
	};

	onMount(async () => {
		if ($user !== undefined) {
			await goto('/');
		}
		loaded = true;
	});
</script>

<svelte:head>
	<title>
		{`${$WEBUI_NAME}`}
	</title>
</svelte:head>

{#if loaded}
	<div class="fixed m-10 z-50">
		<div class="flex space-x-2">
			<div class=" self-center">
				<img src="{WEBUI_BASE_URL}/static/favicon.png" class="w-16 rounded-full" alt="logo" />
			</div>
		</div>
	</div>

	<div >
		<img src="background.webp" alt="" class="blur-background">
		
	</div>
	<div class="dark:bg-gray-900 min-h-screen w-full flex justify-center font-mona opacity-80">
			<div class="hidden lg:flex lg:flex-1 px-10 md:px-16 w-full bg-blue-300 justify-center">
				
				<div class=" my-auto pb-16 text-left">
					<div>
						<div class="text-xl text-muted text-yellow-600">
							<p>Welcome to</p>
						</div>
						<div class="font-bold text-blue-900 text-8xl">
							<Typwriter mode='loopOnce' cursor={false} delay={300} >
							  VayuGPT
							</Typwriter>
						</div>
						<div class="text-sm text-muted text-yellow-600 justify-right text-right pb-10">
							<p>ver1.0.0 Released on 25 Mar 24</p>
						</div>
						<br><br>
						<div class=" font-bold text-yellow-600 text-4xl">
							Available models to query on
						</div>

						<div class="mt-2 font-bold text-yellow-600 text-xl">
							<Typwriter mode='loopRandom'>
								<p class="text-md text-bold text-muted">Meteorology: IAP-3201, IAP-3202 & ASI/Part-III/Met</p>
								<p class="text-md text-bold text-muted">IT: IAP-3903</p>
								<p class="text-md text-bold text-muted">C-130 J: Aircraft Maintenance Manuals</p>
							</Typwriter>
						</div>	
					</div>
					
				</div>
				
			</div>

			<div class="w-full sm:max-w-lg px-4 min-h-screen flex flex-col z-10">
				<div class=" my-auto pb-10 w-full">
					<form
						class="flex flex-col justify-center bg-white py-6 sm:py-16 px-6 sm:px-16 rounded-2xl"
						on:submit|preventDefault={() => {
							submitHandler();
						}}
					>
						<div class=" text-xl sm:text-2xl font-bold">
							{mode === 'signin' ? 'Sign in' : 'Sign up'} to {$WEBUI_NAME}
						</div>

						{#if mode === 'signup'}
							<div class=" mt-1 text-xs font-medium text-gray-500">
								ⓘ {$WEBUI_NAME} Use your service no without check-suffixto sign up.
							</div>
						{/if}

						<div class="flex flex-col mt-4">
							{#if mode === 'signup'}
								<div>
									<div class=" text-sm font-semibold text-left mb-1">Name</div>
									<input
										bind:value={name}
										type="text"
										class=" border px-4 py-2.5 rounded-2xl w-full text-sm"
										autocomplete="name"
										placeholder="Enter Your Full Name"
										required
									/>
								</div>

								<hr class=" my-3" />
							{/if}

							<div class="mb-2">
								<div class=" text-sm font-semibold text-left mb-1">Service No</div>
								<input
									bind:value={service_no}
									type="number"
									class=" border px-4 py-2.5 rounded-2xl w-full text-sm"
									placeholder="Enter Your Service No"
									required
								/>
							</div>

							<div>
								<div class=" text-sm font-semibold text-left mb-1">Password</div>
								<input
									bind:value={password}
									type="password"
									class=" border px-4 py-2.5 rounded-2xl w-full text-sm"
									placeholder="Enter Your Password"
									autocomplete="current-password"
									required
								/>
							</div>
						</div>

						<div class="mt-5">
							<button
								class=" bg-gray-900 hover:bg-gray-800 w-full rounded-full text-white font-semibold text-sm py-3 transition"
								type="submit"
							>
								{mode === 'signin' ? 'Sign In' : 'Create Account'}
							</button>

							<div class=" mt-4 text-sm text-center">
								{mode === 'signin' ? `Don't have an account?` : `Already have an account?`}

								<button
									class=" font-medium underline"
									type="button"
									on:click={() => {
										if (mode === 'signin') {
											mode = 'signup';
										} else {
											mode = 'signin';
										}
									}}
								>
									{mode === 'signin' ? `Sign up` : `Sign In`}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	</div>
	
	<div class="footer fixed z-40 text-blue-900">Copyright &#169; AI Centre of Excellence - IAF UDAAN</div>
	
{/if}

<style>
	.font-mona {
		font-family: 'Mona Sans';
	}

	.blur-background {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/* background-image: url('{WEBUI_BASE_URL}/static/background.webp'); */
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	background-color: rgba(255, 255, 255, 0.7);
	/* filter:blur(1px); */
	z-index:-1;
}
.footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
</style>
