<script lang="ts">
	import Modal from '../common/Modal.svelte';

	export let downloadChat: Function;
	export let shareChat: Function;

	export let show = false;
</script>

<Modal bind:show size="xs">
	
</Modal>
