.blur-background.svelte-1ldge4x{position:fixed;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center;background-attachment:fixed;background-color:#ffffffb3;filter:blur(4px);z-index:-1}
