<script lang="ts">
	import fileSaver from 'file-saver';
	const { saveAs } = fileSaver;
	
	import { AccordionItem, Accordion } from 'flowbite-svelte';
	import { goto, invalidateAll } from '$app/navigation';
	import { releventContexts} from '$lib/stores';
	import { onMount } from 'svelte';
	
	import { WEBUI_BASE_URL } from '$lib/constants';
	import Tooltip from '../common/Tooltip.svelte';

	let showContext = false;

	
	onMount(async () => {
		if (window.innerWidth > 1024 && $releventContexts!==null  ) {
			showContext = true;
		}
		
	});

</script>

<div class="h-screen max-h-screen min-h-screen {showContext
		? 'lg:relative w-[360px]'
		: 'translate-x-[360px] w-[0px]'} bg-blue text-gray-900 shadow-2xl text-sm transition z-40 fixed top-0 right-0
        "
>
	<div
		class="absolute right-0 top-[50dvh] z-40 -translate-y-1/2 transition-transform -translate-x-[360px] md:-translate-x-[360px] rotate-0"
	>
		<Tooltip placement="left" content={`${showContext ? 'Hide' : 'Show'} context`} touch={false} >
			<button
				id="preview-toggle-button"
				class=" group"
				on:click={() => {
					showContext = !showContext;
				}}
				><span class="" data-state="closed"
					><div
						class="flex h-[72px] w-8 items-center justify-center opacity-20 group-hover:opacity-100 transition"
					>
						<div class="flex h-6 w-6 flex-col items-center">
							<div
								class="h-3 w-1 rounded-full bg-[#0f0f0f] dark:bg-white rotate-0 translate-y-[0.15rem] {showContext
									? 'group-hover:rotate-[-15deg]'
									: 'group-hover:rotate-[15deg]'}"
							/>
							<div
								class="h-3 w-1 rounded-full bg-[#0f0f0f] dark:bg-white rotate-0 translate-y-[-0.15rem] {showContext
									? 'group-hover:rotate-[15deg]'
									: 'group-hover:rotate-[-15deg]'}"
							/>
						</div>
					</div>
				</span>
			</button>
		</Tooltip>
	</div>

	<div
	class="py-2.5 flex flex-col justify-between bg-blue-50 h-screen max-h-[100dvh] w-[360px] {showContext
		? ''
		: 'invisible'}">

	<div class="px-2 flex justify-center space-x-2">
		
			<div class="flex self-center flex-grow rounded-xl px-3.5 py-2 bg-blue-800 hover:bg-blue-400 transition" >
				<div class="self-center mr-1.5">
					<img
						src="{WEBUI_BASE_URL}/static/favicon.png"
						class=" w-7 -translate-x-1.5 rounded-full"
						alt="logo"
					/>
				</div>

				<div class="self-center font-bold text-md text-white">Relevant Context</div>
			</div>
	</div>
	<div>
	  <Accordion>
		{#each $releventContexts as context, index}
		<AccordionItem>
		  <span slot="header" class="dark:text-white">Context {index+1}</span>
		  <p class="mb-2 dark:text-white"> {context.documents}</p>
		
		  <ul class="list-disc ps-5 dark:text-white">
			<li>
			  <p>Page: {context.metadatas['page']} </p> 
			</li>
			<li>
			  Source: <a href="{context.metadatas['source'].split(/[\\/]/)[context.metadatas['source'].length-1]}" rel="noreferrer" target="_blank" class="text-blue-400 dark:text-blue-400 hover:underline">  {context.metadatas['source']} </a>
			</li>
			<li>Distance Score:{context.distances} </li>
		  </ul>
		</AccordionItem>
		{/each}
	  </Accordion>
	</div>
</div>
</div>



